In [8]:
import pandas as pd
from pathlib import Path

In [9]:
# Set the parquet file path here
file_path = r"C:\Users\David Ibanga\Data Engineering practicals\ShopFlow_Project\data_extraction\local_output\curated\dim_customers\extract_date=2025-12-22\dim_customers_20251222T215118Z.parquet"

# Or use absolute path:
# file_path = r"C:\Users\David Ibanga\Data Engineering practicals\ShopFlow_Project\data_extraction\local_output\raw\customers.parquet"

In [10]:
# Read parquet file
df = pd.read_parquet(file_path)

print(f"Total rows: {len(df):,}")
print(f"Total columns: {len(df.columns)}")
print(f"\nColumns: {list(df.columns)}")

Total rows: 100,000
Total columns: 15

Columns: ['customer_id', 'email', 'name', 'city', 'country', 'signup_date', 'customer_segment', 'total_orders', 'total_spent', 'tenure_days', 'total_support_tickets', 'avg_satisfaction_score', 'avg_resolution_hours', 'open_tickets_count', 'last_ticket_date']

In [11]:
# Display first 20 rows
df.head(20)

,customer_id,email,name,city,country,signup_date,customer_segment,total_orders,total_spent,tenure_days,total_support_tickets,avg_satisfaction_score,avg_resolution_hours,open_tickets_count,last_ticket_date
0,CUST000001,cust000001@shopflow.com,Adam Allen,Marshfurt,Australia,2024-08-25,Medium Value,5,1901.07,484,1,4.0,556,0,2024-04-27
1,CUST000005,cust000005@shopflow.com,James Elliott,New Tonya,UK,2022-10-06,Medium Value,6,2959.23,1173,2,1.0,333,1,2024-11-02
2,CUST000006,cust000006@shopflow.com,Alexander Jones,West Thomas,Germany,2024-01-12,Medium Value,7,3970.15,710,0,0.0,0,0,NaT
3,CUST000007,cust000007@shopflow.com,Patricia Thomas,West Dawnberg,Canada,2022-02-15,High Value,7,4989.87,1406,0,0.0,0,0,NaT
4,CUST000008,cust000008@shopflow.com,Hayley Martinez,Wattsview,Australia,2022-07-17,At Risk,1,741.33,1254,1,1.0,655,0,2022-02-25
5,CUST000010,cust000010@shopflow.com,Brian Barajas,Port Paula,Canada,2023-04-26,Low Value,7,5831.33,971,2,5.0,118,1,2022-10-19
6,CUST000012,cust000012@shopflow.com,Theresa Ramirez,North Alexander,France,2022-05-06,Churned,0,0.00,1326,2,4.0,333,0,2024-04-14
7,CUST000014,cust000014@shopflow.com,Jasmine Johns,Webbchester,Australia,2024-01-02,Medium Value,7,5435.13,720,0,0.0,0,0,NaT
8,CUST000015,cust000015@shopflow.com,Gina Smith,Port Courtneyberg,Canada,2024-07-27,Medium Value,9,4780.01,513,1,5.0,446,0,2022-05-14
9,CUST000016,cust000016@shopflow.com,Mathew Brady,Amandaton,Germany,2024-09-06,Medium Value,10,7162.27,472,0,0.0,0,0,NaT
10,CUST000019,cust000019@shopflow.com,Miranda Ramirez,North Kendra,France,2023-01-06,Medium Value,8,6904.48,1081,0,0.0,0,0,NaT
11,CUST000022,cust000022@shopflow.com,Jonathan Ortiz,West Christopher,Canada,2023-07-17,High Value,5,3462.71,889,0,0.0,0,0,NaT
12,CUST000028,cust000028@shopflow.com,Christopher King,Greershire,Canada,2022-01-23,Low Value,7,4505.51,1429,0,0.0,0,0,NaT
13,CUST000029,cust000029@shopflow.com,Julie Anderson,North Wendychester,Germany,2022-05-30,Low Value,0,0.00,1302,0,0.0,0,0,NaT
14,CUST000030,cust000030@shopflow.com,Monica Warren,Jonesberg,UK,2022-05-03,High Value,6,5560.03,1329,0,0.0,0,0,NaT
15,CUST000031,cust000031@shopflow.com,Ricky Barker,Danielchester,Australia,2023-11-07,Low Value,7,6654.28,776,0,0.0,0,0,NaT
16,CUST000032,cust000032@shopflow.com,Heather Taylor,Lunachester,USA,2024-05-06,Medium Value,4,2830.18,595,0,0.0,0,0,NaT
17,CUST000034,cust000034@shopflow.com,Jaime Stevenson,Munozhaven,France,2024-07-07,Churned,2,332.41,533,3,4.0,418,1,2024-07-10
18,CUST000035,cust000035@shopflow.com,Kelly Anderson,New Amandaview,Australia,2023-12-24,Churned,1,227.26,729,1,3.0,350,0,2023-01-04
19,CUST000036,cust000036@shopflow.com,Stacey Allen,Goodwinport,Germany,2022-09-04,At Risk,4,3596.31,1205,1,1.0,659,0,2023-08-22

In [12]:
# Show data types and null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   customer_id             100000 non-null  object
 1   email                   100000 non-null  object
 2   name                    100000 non-null  object
 3   city                    100000 non-null  object
 4   country                 100000 non-null  object
 5   signup_date             100000 non-null  datetime64[ns]
 6   customer_segment        100000 non-null  object
 7   total_orders            100000 non-null  int64
 8   total_spent             100000 non-null  float64
 9   tenure_days             100000 non-null  int64
 10  total_support_tickets   100000 non-null  int64
 11  avg_satisfaction_score  100000 non-null  float64
 12  avg_resolution_hours    100000 non-null  int64
 13  open_tickets_count      100000 non-null  int64
 14  last_ticket_date        37458 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(5), object(6)
memory usage: 11.4+ MB

In [13]:
# Show basic statistics for numeric columns
df.describe()

,signup_date,total_orders,total_spent,tenure_days,total_support_tickets,avg_satisfaction_score,avg_resolution_hours,open_tickets_count,last_ticket_date
count,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,37458
mean,2023-06-16 15:55:53.184000,5.000000,3818.304709,919.336190,0.500000,1.041144,106.702690,0.100700,2023-08-11 13:38:13.320518912
min,2022-01-01 00:00:00,0.000000,0.000000,388.000000,0.000000,0.000000,0.000000,0.000000,2022-01-01 00:00:00
25%,2022-09-22 00:00:00,3.000000,1893.080000,654.000000,0.000000,0.000000,0.000000,0.000000,2022-12-04 00:00:00
50%,2023-06-17 00:00:00,5.000000,3513.010000,919.000000,0.000000,0.000000,0.000000,0.000000,2023-09-08 00:00:00
75%,2024-03-08 00:00:00,7.000000,5377.785000,1187.000000,1.000000,2.000000,130.000000,0.000000,2024-05-04 00:00:00
max,2024-11-29 00:00:00,20.000000,20204.480000,1451.000000,6.000000,5.000000,720.000000,4.000000,2024-11-30 00:00:00
std,NaN,2.845646,2544.208797,307.268208,0.752905,1.691672,194.004491,0.320594,NaN